.card {
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  width: 400px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: relative;
  margin-bottom: 40px;
  padding: 50px;
  background-color: #062c43 !important;
}

.card-body li a {
  color: #039be5 !important;
}

.card-img {
  width: 85% !important;
  height: 100%;
}

.card .fa-spinner {
  font-size: 180px;
  position: absolute;
  left: 25%;
  top: 25%;
}

.card-body {
  color: #82C0D3;
}