.card {
  background-size: cover;
  background-position: center;
  width: 400px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: relative;
  margin: 0 0.5% 40px 0.5%;
  padding: 30px;
  background-color: #062c43 !important;
}

.card-title {
  font-size: 30px;
}

.desc-bg {
  background-color: #3d748a;
  color: white;
  padding: 10px;
}

.card-body li a {
  color: #039be5 !important;
}

.card-img {
  width: 85% !important;
  height: 100%;
}

.card .fa-spinner {
  font-size: 180px;
  position: absolute;
  left: 25%;
  top: 25%;
}

.card-body {
  color: #82C0D3;
}