body {
    font-size: 20px !important;
}

.home-text {
    font-family: 'Raleway', sans-serif;
}

#home span {
    padding: 20px;
}

#home img {
    width: 75%;
    min-width: 50%;
    margin: 6vw 10% 6vw 6vw;
}

@media screen and (max-width: 768px) {
    #home img {
        margin-top: 20%;
    }
}

@media screen and (max-width: 375px) {
    #home img {
        margin-top: 40%;
        width: 85vw;
    }
}