.emphasis {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  color: #5591a9;
}

.navbar {
  background-color: #062c43;
}

.navbar a {
  color: white;
}

.navbar a:hover {
  color: #5591a9;
}

.navbar a:focus {
  color: white;
}

.brand-logo {
  color: white;
  font-size: 30px;
  text-decoration: none;
}